<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu for Tally Integration -->
    <menuitem id="menu_tally_integration_root" 
              name="Tally Integration" 
              sequence="50" 
              web_icon="odoo18_tally_sync,static/description/icon.png"/>


    <!-- Configuration Menu -->
    <menuitem id="menu_tally_configuration" 
              name="Configuration" 
              parent="menu_tally_integration_root" 
              sequence="100"/>
</odoo>
