<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_employee_performance_root"
                  name="Performance"
                  web_icon="employee_performance_management,static/description/icon.png"
                  sequence="75"/>

        <menuitem id="menu_performance_my"
                  name="My Performance"
                  parent="menu_employee_performance_root"
                  sequence="10"/>

        <menuitem id="menu_performance_team"
                  name="Team Performance"
                  parent="menu_employee_performance_root"
                  sequence="20"/>

        <menuitem id="menu_performance_configuration"
                  name="Configuration"
                  parent="menu_employee_performance_root"
                  sequence="100"/>
                  
        <menuitem id="menu_performance_reporting"
                  name="Reporting"
                  parent="menu_employee_performance_root"
                  sequence="90"/>
    </data>
</odoo>
